/* 
###############################################
                    GENERIC
###############################################
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
###############################################
                    COMMON
###############################################
*/

:root {
    --main-bg-color:#141922;
    --footer-color:#282828;
    --nav-color:#000;
    --nav-icon-color:#d2d2d2;
    --nav-color-text:#7d7f84;
    --bars-color:#adff2f;
    --text-color:#ffffff;
    --top-filter-menu-color: #7d7f84;
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

a{
    text-decoration: none;
}

.btn {
    text-decoration: none;
    padding: 20px ;
}

ul {
    list-style: none;
}


/* 
###############################################
                    MAIN
###############################################
*/

.main-container {
    height: calc(100vh - 90px);
    background-color: var(--main-bg-color);
    overflow: hidden;
    display: flex
}

/* 
@@@@@@@@@@@@@@@@@@ NAV MENU @@@@@@@@@@@@@@@@@@
*/

.nav-menu-container {
    width: 300px;
    background-color: var(--nav-color);
    height: calc(100vh - 90px);
    z-index: 1;
}

.spotify-logo {
    padding: 20px;
}

.playlist h2{
    color: var(--text-color);
}

.create,
.pl-voice,
.actions {
    color: var(--nav-color-text);
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 10px;
}

.create {
    padding: 20px 0px;
}

.plus {
    background-color: var(--nav-color-text);
    color: var(--nav-color);
    font-size: 40px;
    font-weight: bolder;
}

.nav-menu-icons {
    width: 40px;
    height: 40px;   
}

.playlist {
    flex-grow: 1;
}

.install img {
   height: 20px;
   width: 20px; 
}

.user {
    margin: 0 auto;
    width: 90%; 
}

.user-profile img {
    height: 30px;
    width: 30px;
    background-color: var(--top-filter-menu-color);
}

/* 
@@@@@@@@@@@@@@@@@@ SITE @@@@@@@@@@@@@@@@@@
*/

.site {
    padding-top: 90px;
    height: 100%;
    overflow: auto;
}

.head-fix {
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left:0;
    justify-content: end;
}

.head-fix-btn{
    border: 2px solid var(--text-color);
    border-radius: 50px;
}

.recently-played{
    flex-wrap: wrap;
}

/* SITE-TESTI */

.site-main-menu-bar {
    color: var();
}

.recently-played h3,
.create-for h3,
.pop-artists h3 {
    color: var(--text-color);
}

.recently-played span,
.create-for span,
.pop-artists span {
    color: var(--nav-color-text);
}

/* 
###############################################
                    FOOTER
###############################################
*/

.footer-container {
    background-color: var(--footer-color);
    height: 90px;
    width: 100%;
    justify-content: space-between
}

/* 
@@@@@@@@@@@@@@@@@@ PLAYED ALBUM @@@@@@@@@@@@@@@@@@
*/

.played-album-img img {
    height: 70px;
    width: 70px;
}

.played-album-text h4{
    color: var(--text-color);
}

.played-album-text span,
.played-album-icons {
    color: var(--nav-color-text);
}

/* 
@@@@@@@@@@@@@@@@@@ PLAYER @@@@@@@@@@@@@@@@@@
*/

.time-bar {
    width: 50%;
    height: 2px;
    background-color: var(--nav-color-text);
}

/* 
###############################################
                MEDIA QUERIES
###############################################
*/